<form autocomplete="off" [formGroup]="mainForm">
  <input formControlName="id" type="hidden" />

  <!-- TODO - Set maxlengths -->

  <mat-form-field>
    <input formControlName="title" matInput maxlength="100" placeholder="Título de la Red Social *" />
    <mat-error>
      Este campo obligatorio
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input formControlName="url" matInput maxlength="250" placeholder="Enlace *" />
    <mat-error>
      <ng-container *ngIf="url.hasError('required')">
        Este campo es obligatorio
      </ng-container>
      <ng-container *ngIf="url.hasError('pattern')">
        URL inválida
      </ng-container>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select formControlName="type" placeholder="Tipo de Red Social *">
      <mat-option value="Facebook">Facebook</mat-option>
      <mat-option value="Twitter">Twitter</mat-option>
    </mat-select>
    <mat-error>
      <ng-container *ngIf="type.hasError('required')">Este campo es obligatorio</ng-container>
      <ng-container *ngIf="type.hasError('limit')">Duplicado</ng-container>
    </mat-error>
  </mat-form-field>

  <shared-image-upload-control #image formControlName="image" label="Imagen"></shared-image-upload-control>

</form>
