.search-field {
  font-family: Montserrat-Medium;
  /* text-transform: uppercase; */
  color: #808080;
  font-size: 25px;
  width: 572px;
  height: 40px;
  float: left;
  display: block;
  border: 1px solid #808080;
  border-radius: 10px;
  display: block;
  margin: 0px;
  padding-left: 25px;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(128, 128, 128, 0.32);
  -moz-box-shadow: 0px 0px 1px 1px rgba(128, 128, 128, 0.32);
  box-shadow: 0px 0px 1px 1px rgba(128, 128, 128, 0.32);
}

.search-button {
  margin-left: 10px;
  margin-top: -2px;
  padding: 0px;
  height: 50px;
  width: 57px;
  border: 0px;
  background-color: #12963F;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
}
