<div class="covers-container">
  <div class="cover">
    <mat-card class="mat-elevation-z8">
      <mat-card-title>Title</mat-card-title>
      <mat-card-content>
        Wororo
      </mat-card-content>
    </mat-card>
  </div>
  <div class="cover">
    <mat-card class="mat-elevation-z8">
      <mat-card-title>Title</mat-card-title>
      <mat-card-content>
        Wororo
      </mat-card-content>
    </mat-card>
  </div>
  <div class="cover">
    <mat-card class="mat-elevation-z8">
      <mat-card-title>Title</mat-card-title>
      <mat-card-content>
        Wororo
      </mat-card-content>
    </mat-card>
  </div>
  <div class="cover">
    <mat-card class="mat-elevation-z8">
      <mat-card-title>Title</mat-card-title>
      <mat-card-content>
        Wororo
      </mat-card-content>
    </mat-card>
  </div>
  <div class="cover">
    <mat-card class="mat-elevation-z8">
      <mat-card-title>Title</mat-card-title>
      <mat-card-content>
        Wororo
      </mat-card-content>
    </mat-card>
  </div>
  <div class="cover">
    <mat-card class="mat-elevation-z8">
      <mat-card-title>Title</mat-card-title>
      <mat-card-content>
        Wororo
      </mat-card-content>
    </mat-card>
  </div>
  <div class="cover">
    <mat-card class="mat-elevation-z8">
      <mat-card-title>Title</mat-card-title>
      <mat-card-content>
        Wororo
      </mat-card-content>
    </mat-card>
  </div>
</div>
