<form autocomplete="off" [formGroup]="mainForm">
  <input formControlName="id" type="hidden" />

  <!-- Simple required field -->

  <mat-form-field>
    <input formControlName="title" matInput maxlength="255" placeholder="Título *" />
    <mat-error>
      Este campo es obligatorio
    </mat-error>
  </mat-form-field>

  <!-- Email example -->

  <mat-form-field>
    <input formControlName="email" matInput maxlength="100" placeholder="Email *" />
    <mat-error>
      <ng-container *ngIf="emailCtrl.hasError('required')">
        Campo obligatorio
      </ng-container>
      <ng-container *ngIf="emailCtrl.hasError('email')">
        Correo inválido
      </ng-container>
    </mat-error>
  </mat-form-field>

  <!-- Pattern example -->

  <mat-form-field>
    <input formControlName="rfc" matInput maxlength="10" placeholder="RFC *" />
    <mat-error>
      <ng-container *ngIf="rfcCtrl.hasError('required')">
        Campo obligatorio
      </ng-container>
      <ng-container *ngIf="rfcCtrl.hasError('pattern')">
        RFC inválido
      </ng-container>
    </mat-error>
  </mat-form-field>

  <!-- Date example -->

  <mat-form-field>
    <input formControlName="date" [matDatepicker]="dateField" matInput placeholder="Fecha *" readonly />
    <mat-datepicker-toggle matSuffix [for]="dateField"></mat-datepicker-toggle>
    <mat-datepicker #dateField></mat-datepicker>
    <mat-error>
      Campo obligatorio
    </mat-error>
  </mat-form-field>

  <!-- Simple select -->

  <mat-form-field>
    <mat-select formControlName="gender" placeholder="Género">
      <mat-option value="female">Femenino</mat-option>
      <mat-option value="male">Masculino</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Array select -->

  <mat-form-field>
    <mat-select formControlName="country" placeholder="País *">
      <mat-option *ngFor="let country of countries" [value]="country.value">
        {{ country.label }}
      </mat-option>
    </mat-select>
    <mat-error>
      Campo obligatorio
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-select formControlName="state" placeholder="Estado *">
      <mat-option *ngFor="let state of countryCtrl.value" [value]="state.value">
        {{ state.label }}
      </mat-option>
    </mat-select>
    <mat-error>
      Campo obligatorio
    </mat-error>
  </mat-form-field>

  <!-- Keywords -->

  <shared-keyword-control formControlName="keywords"></shared-keyword-control>

  <!-- File -->

  <shared-image-upload-control #image formControlName="image"></shared-image-upload-control>

</form>
